body {
    background-color: #ecc7b78e;
    display: flex;
    flex-direction: column;
  }
.Header1 {
    font-size: 190%;
    width: 85.7%;
    height: 12.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 65.5px;
    text-align: center;
    box-sizing: border-box;
    order: 1;
    margin-left: 7%;
    margin-top: 3.7%;
    justify-content: center;
    box-shadow: 10px 10px #D17B71;
   
}
.Header3 {
    font-size: 120%;
    line-height: 1.5;
    width: 85.7%;
    height: 10%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    margin-bottom: 65.5px;
    box-sizing: border-box;
    order: 2;
    margin-right: 7%;
    align-self: flex-end;
    box-shadow: 10px 10px #D17B71;
    
}
.container {
    order: 3;
    position: relative;
    z-index: -1;
    display: inline-block;
    
}
.Header2 {
    font-size: 200%;
    position: absolute 
}
.img {
    
    height: 55.8%;
    width: 85.7%;
    box-sizing: border-box;
    z-index: -1;
    order: 3;
    margin-right: 7%;
    margin-left: 7%;
}

<style>
a:link {
  color: #843010;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #D17B71;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #843010;
  background-color: #F5C77C;
  text-decoration: underline;
}

a:active {
  color: #F5C77C;
  background-color: transparent;
  text-decoration: underline;
}
</style>