body {
    background-color:#ecc7b78e;
  }
.Header1 {
    font-size: 50px;
    width: 892px;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    position: absolute; 
	top: 70px;
	left: 140px;
}
.Header3 {
    font-size: 34px;
    width: 892px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    position: absolute; 
	top: 444px;
	left: 830px;
}
.Header2 {
    font-size: 44px;
    width: 558.86px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    position: absolute; 
	top: 951px;
    left: 800px;
    rotate: 5%;
  
}
.img {
    position: absolute; 
	top: 740px;
    left: 137.5px;
    z-index: -1;
}
